/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    margin-top: 40px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
  }
  
 .container-flex{
    display:flex;
    background-color: #cfcfcf;
    gap: 10px;
    flex-direction: row;
 }

 .item-flex{
    background-color: #2196f3;
    color:#fff;
    padding: 15px;
    
 }
/* 2. flex-direction */
 .direcao-linha{
    flex-direction: row;
 }
 .direcao-coluna{
    flex-direction: column;
 }
/* 3. flex-wrap = Quebra de linha */
 .wrap{
    flex-wrap: wrap;
 }
 .nowrap{
    flex-wrap: nowrap;
 }
/* 4. justify-content - Alinhamento na Horizontal - justify */
.justificar-inicio{
    justify-content: flex-start;
}
.justificar-fim{
    justify-content: end;
}
.justificar-centro{
    justify-content: center;
}
.justificar-space-between{
    justify-content: space-between;
    
}
/* mudando a largura do item-flex do justificar-space-between*/
.justificar-space-between .item-flex{
    width: 33%;
}
.justificar-space-around{
    justify-content: space-around;
    /*flex-wrap: wrap;*/
}
.justificar-space-evenly{
    justify-content: space-evenly;
}
/* 5. align-items - Alinhamento Vertical*/
.align-items .container-flex{
    height: 300px;
}
.alinhar-stretch{
    align-items: stretch;
}
.alinhar-inicio{
    align-items: start;
}
.alinhar-fim{
    align-items: end;
}
.alinhar-centro{
    align-items: center;   
}

.alinhar-baseline{
    align-items: baseline;
}
.alto{
    height: 100px;
}
.baixo{
    height: 30px;
}

/* 6. align-content */
.container-flex.wrap.alinhar-conteudo-inicio{
    height: 200px;
}
.item-flex.caixa{
    align-content: space-around;
}

/* 7. order */
.item-flex.ordem3{
    order: 3;
}
.item-flex.ordem2{
    order: 2;
}
.item-flex.ordem1{
    order: 1;
}
/* 8. flex-grow, flex-shrink, flex-basis, flex */
.item-flex.crescer1{
    flex-grow:4;
}
.item-flex.crescer2{
    flex-grow:2;
}
.item-flex.crescer3{
    flex-grow:2;
}
/* 9. align-self - ALIGN - Alinhamento vertical individual de cada item*/
.container-flex.exemplo-align-self{
    height: 200px;
    align-items: start;
    
}
.self-centro{
    align-self: center;
}
.self-fim{
    align-self:end;
}
/* 10. Exemplo Prático: Menu de Navegação */
.menu-nav {
    display: flex;
    background-color: #333;
    padding: 10px;
  }
  
  .menu-nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .menu-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* 11. Exemplo Prático: Layout Responsivo */
  .responsivo {
    border: 5px solid #d56b6b;
    flex-wrap: wrap;
    width: 800px;
  }
  
  .responsivo .caixa {
    margin: 0;
    padding: 20px 0;
    width: 100px;
    flex-grow: 1;
    
  }
  .responsivo .caixa:nth-child(2) {
    flex-grow: 2;
    
  }